body{
  background-color: #E9F8F9;
  text-align: center;
  align-items: center;
}

.mount{
  
  padding-bottom: 50px;

}

#up{
  position: relative;
  right: 300px;
 

}
.low{
 position: absolute;
 left: 900px;
}
h1{
  font-family: caveat, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: 'Caveat', cursive;
  padding-top: 15px;
  font-weight: normal;
}
.head{
  margin-top: 0px;
  background-color: #C0EEF2;
  margin-bottom: 50px;
  padding-top: 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  
}

.code{
    float: left;
    margin-right: 15px;
  }
  .chill{
    float: right;
    margin-right: 15px;
  }
hr{
  width: 10%;
  align-items: center;
  border: 5px dotted gray;
  border-top: none;
  
}
p{
  padding-bottom: 15px;
}
.profile img{
  border-radius: 50px;
}